
body {
    background-color:rgb(85, 231, 219);
    background-image: url("https://i.ibb.co/YDCLtvN/IMG-8150-2.jpg");
    background-position: top;
    background-size:contain;
    background-repeat: no-repeat;
}

h1 {
    color:black;
}

h2 {
    font-family:'Times New Roman', Times, serif
}

.title {
        text-align: center;
}

li {list-style: none;}

.miharamountain {
                 display: flex;
}

.tyuuoukakou {
            display: flex;
}

.urasabaku {
             display: flex;
}

.ziorockgarden {
                display: flex;
}

.saiseinoipponmichi {
                    display: flex;
}

.tisoudaisetudanmen {
                     display: flex;
}

.divinginakinohama {
                    display: flex;
}
