
body {
    background-color:rgb(85, 231, 219);
}

.title {
        text-align: center;
        height: 500px;
        background-image: url("https://i.ibb.co/YDCLtvN/IMG-8150-2.jpg");
        background-position: top;
        background-size:contain;
        background-repeat: no-repeat;
}

.title-text {
            padding-top: 160px;
            padding-bottom: 160px;
            letter-spacing: 0.2em;
            color: white;
}

.text-title h2 {
    font-family:'Courier';
}

li {list-style: none;}

.miharamountain {
                 display: flex;
}

.tyuuoukakou {
            display: flex;
}

.urasabaku {
             display: flex;
}

.ziorockgarden {
                display: flex;
}

.saiseinoipponmichi {
                    display: flex;
}

.tisoudaisetudanmen {
                     display: flex;
}

.divinginakinohama {
                    display: flex;
}
